[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/03_euler_mks.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-03.git
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/03_euler_vs.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/03_euler_mks.git
[submodule "ganHao"]
	path = ganHao
	url = https://github.com/haotianGan/03_euler
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_03_euler.git
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/03_euler.git
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/03-Eul-Up-Your-C-Engine.git
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw3.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/03_euler.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work03_euler.git
