[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/03_euler_mks.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-03.git
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/03_euler_vs.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/03_euler_mks.git
[submodule "ganHao"]
	path = ganHao
	url = https://github.com/haotianGan/03_euler
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_03_euler.git
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/03_euler.git
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/03-Eul-Up-Your-C-Engine.git
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw3.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/03_euler.git
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work03_euler.git
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work03.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/03_euler.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/03_euler_vj.git
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/03_systems.git
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/03_euler.git
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/Work03
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/03_euler
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/03_euler_kevidgel.git
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_03_euler.git
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/03_work.git
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-03_euler.git
[submodule "siniscalcoFra"]
	path = siniscalcoFra
	url = https://github.com/NopeSiniscalco/03_euler_mks.git
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_03_eular.git
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/03_euler
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_03_euler.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_eul.git
[submodule "chahalSub"]
	path = chahalSub
	url = https://github.com/SubhanChahal/cw-03.git
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/03_euler_zhangAle
[submodule "work03"]
	path = work03
	url = https://github.com/schan11/work03.git
[submodule "chanSer"]
	path = chanSer
	url = https://github.com/schan11/chanSer.git
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/homework3.git
